body{
    background-color: skyblue;
}

h1{
    font-family: "Arial Black";
    font-size: 84px;
    text-align: center;
    position: absolute;
    left: 35px;
}

.tank{
    position: absolute;
    bottom: 0px;
    left: -350px;
    animation: TankMove 60s linear 1 alternate 1s forwards;
}

.tank_body{
    background-color: darkgrey;
    border: 2px solid darkslategrey;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    bottom: 250px;
    left: 50px;
}

.tank .tank_fuel_barrel{
    background-color: darkgreen;
    border: 2px solid black;
    padding: 40px 40px 20px 40px;
    position: absolute;
    border-radius: 128px;
    bottom: 325px;
    left: 5px;
}

.tank .tank_turret{
    background-color: darkgrey;
    border: 2px solid darkslategrey;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    bottom: 368px;
    left: 100px;
}

.tank .tank_track1 .tank_wheel{
    background-color: darkslategrey;
    border: 2px solid black;
    padding: 30px 30px 30px 30px;
    position: absolute;
    border-radius: 128px;
    bottom: 215px;
    left: 25px;
}

.tank .tank_track1 .tank_wheel2{
    background-color: darkslategrey;
    border: 2px solid black;
    padding: 30px 30px 30px 30px;
    position: absolute;
    border-radius: 128px;
    bottom: 215px;
    left: 85px;
}

.tank .tank_track1 .tank_wheel3{
    background-color: darkslategrey;
    border: 2px solid black;
    padding: 30px 30px 30px 30px;
    position: absolute;
    border-radius: 128px;
    bottom: 215px;
    left: 145px;
}

.tank .tank_track1 .tank_wheel4{
    background-color: darkslategrey;
    border: 2px solid black;
    padding: 30px 30px 30px 30px;
    position: absolute;
    border-radius: 128px;
    bottom: 215px;
    left: 205px;
}

.tank .tank_track2 .tank_wheel5{
    background-color: darkslategrey;
    border: 2px solid black;
    padding: 30px 30px 30px 30px;
    position: absolute;
    border-radius: 128px;
    bottom: 215px;
    left: 55px;
    z-index: -1;
}

.tank .tank_track2 .tank_wheel6{
    background-color: darkslategrey;
    border: 2px solid black;
    padding: 30px 30px 30px 30px;
    position: absolute;
    border-radius: 128px;
    bottom: 215px;
    left: 115px;
    z-index: -1;
}

.tank .tank_track2 .tank_wheel7{
    background-color: darkslategrey;
    border: 2px solid black;
    padding: 30px 30px 30px 30px;
    position: absolute;
    border-radius: 128px;
    bottom: 215px;
    left: 175px;
    z-index: -1;
}

.tank .tank_track2 .tank_wheel8{
    background-color: darkslategrey;
    border: 2px solid black;
    padding: 30px 30px 30px 30px;
    position: absolute;
    border-radius: 128px;
    bottom: 215px;
    left: 225px;
    z-index: -1;
}

.tank .tank_cannon{
    background-color: black;
    border: 2px solid darkslategrey;
    padding-left: 50px;
    padding-right: 75px;
    position: absolute;
    border-radius: 128px;
    bottom: 395px;
    left: 175px;
    z-index: -1;
}

.tank .tank_command_tower{
    background-color: darkgrey;
    border: 2px solid darkslategrey;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 425px;
    left: 115px;
    z-index: -1;
}

.ground{
    background-color: greenyellow;
    border: 2px solid darkslategrey;
    padding-top: 50px;
    padding-bottom: 175px;
    padding-left: 500px;
    padding-right: 850px;
    position: absolute;
    bottom: -14px;
    right: 1px;
}

@keyframes TankMove{
    to{
        transform: translateX(2500px);
    }
}